In [25]:
import pandas
import numpy

In [26]:
data_jumlah_penduduk_17_19 = pandas.read_excel("../../Dataset/Banjir/Jumlah Penduduk Menurut Kabupaten_Kota di Provinsi DKI Jakarta.xlsx")
data_jumlah_penduduk_20_22 =  pandas.read_excel("../../Dataset/Banjir/Jumlah Penduduk Menurut Kabupaten_Kota di Provinsi DKI Jakarta_20_22.xlsx")

In [27]:
data_jumlah_penduduk_17_19

,Kab/Kota,Jumlah Penduduk Menurut Kabupaten/Kota di Provinsi DKI Jakarta (Jiwa),Unnamed: 2,Unnamed: 3
0,NaN,2017.0,2018.0,2019.0
1,Kep Seribu,23897.0,24134.0,24295.0
2,Jakarta Selatan,2226830.0,2246137.0,2264699.0
3,Jakarta Timur,2892783.0,2916018.0,2937859.0
4,Jakarta Pusat,921344.0,924686.0,928109.0
5,Jakarta Barat,2528065.0,2559362.0,2589933.0
6,Jakarta Utara,1781316.0,1797292.0,1812915.0
7,DKI Jakarta,10374235.0,10467629.0,10557810.0
8,NaN,NaN,NaN,NaN
9,Sumber : 2020: Hasil SP2020; 2021-2022: Proyek...,NaN,NaN,NaN
10,Source Url: https://jakarta.bps.go.id/indicato...,NaN,NaN,NaN
11,"Access Time: June 25, 2023, 6:46 pm",NaN,NaN,NaN

In [28]:
data_jumlah_penduduk_17_19.columns

Index(['Kab/Kota',
       'Jumlah Penduduk Menurut Kabupaten/Kota di Provinsi DKI Jakarta (Jiwa)',
       'Unnamed: 2', 'Unnamed: 3'],
      dtype='object')

In [29]:
data_jumlah_penduduk_20_22

,Kab/Kota,Jumlah Penduduk Menurut Kabupaten/Kota di Provinsi DKI Jakarta (Jiwa),Unnamed: 2,Unnamed: 3
0,NaN,2020.0,2021.0,2022.0
1,Kep Seribu,27749.0,28240.0,28925.0
2,Jakarta Selatan,2226812.0,2233855.0,2244623.0
3,Jakarta Timur,3037139.0,3056300.0,3083883.0
4,Jakarta Pusat,1056896.0,1066460.0,1079995.0
5,Jakarta Barat,2434511.0,2440073.0,2448975.0
6,Jakarta Utara,1778981.0,1784753.0,1793550.0
7,DKI Jakarta,10562088.0,10609681.0,10679951.0
8,NaN,NaN,NaN,NaN
9,Sumber : 2020: Hasil SP2020; 2021-2022: Proyek...,NaN,NaN,NaN
10,Source Url: https://jakarta.bps.go.id/indicato...,NaN,NaN,NaN
11,"Access Time: June 25, 2023, 6:47 pm",NaN,NaN,NaN

In [38]:
column = ["Kabupaten/Kota","2017","2018","2019","2020","2021","2022"]
data_jumlah_penduduk = pandas.DataFrame(columns=column)

In [39]:
for i in range(1,8):
    data_jumlah_penduduk = data_jumlah_penduduk.append({
        "Kabupaten/Kota":data_jumlah_penduduk_17_19["Kab/Kota"][i],
        "2017":data_jumlah_penduduk_17_19["Jumlah Penduduk Menurut Kabupaten/Kota di Provinsi DKI Jakarta (Jiwa)"][i],
        "2018":data_jumlah_penduduk_17_19["Unnamed: 2"][i],
        "2019":data_jumlah_penduduk_17_19["Unnamed: 3"][i],
        "2020":data_jumlah_penduduk_20_22["Jumlah Penduduk Menurut Kabupaten/Kota di Provinsi DKI Jakarta (Jiwa)"][i],
        "2021":data_jumlah_penduduk_20_22["Unnamed: 2"][i],
        "2022":data_jumlah_penduduk_20_22["Unnamed: 3"][i]
    }, ignore_index=True)

In [40]:
data_jumlah_penduduk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Kabupaten/Kota  7 non-null      object
 1   2017            7 non-null      float64
 2   2018            7 non-null      float64
 3   2019            7 non-null      float64
 4   2020            7 non-null      float64
 5   2021            7 non-null      float64
 6   2022            7 non-null      float64
dtypes: float64(6), object(1)
memory usage: 520.0+ bytes

In [41]:
data_jumlah_penduduk["2017"] = data_jumlah_penduduk["2017"].astype(int)
data_jumlah_penduduk["2018"] = data_jumlah_penduduk["2018"].astype(int)
data_jumlah_penduduk["2019"] = data_jumlah_penduduk["2019"].astype(int)
data_jumlah_penduduk["2020"] = data_jumlah_penduduk["2020"].astype(int)
data_jumlah_penduduk["2021"] = data_jumlah_penduduk["2021"].astype(int)
data_jumlah_penduduk["2022"] = data_jumlah_penduduk["2022"].astype(int)

In [42]:
data_jumlah_penduduk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Kabupaten/Kota  7 non-null      object
 1   2017            7 non-null      int32
 2   2018            7 non-null      int32
 3   2019            7 non-null      int32
 4   2020            7 non-null      int32
 5   2021            7 non-null      int32
 6   2022            7 non-null      int32
dtypes: int32(6), object(1)
memory usage: 352.0+ bytes

In [43]:
data_jumlah_penduduk

    Kabupaten/Kota      2017      2018      2019      2020      2021      2022
0       Kep Seribu     23897     24134     24295     27749     28240     28925
1  Jakarta Selatan   2226830   2246137   2264699   2226812   2233855   2244623
2    Jakarta Timur   2892783   2916018   2937859   3037139   3056300   3083883
3    Jakarta Pusat    921344    924686    928109   1056896   1066460   1079995
4    Jakarta Barat   2528065   2559362   2589933   2434511   2440073   2448975
5    Jakarta Utara   1781316   1797292   1812915   1778981   1784753   1793550
6      DKI Jakarta  10374235  10467629  10557810  10562088  10609681  10679951

In [45]:
data_jumlah_penduduk.to_csv('Data jumlah penduduk di jakarta pertahun.csv', index=False)