In [207]:
import pandas
import re
import numpy

In [406]:
data_2013 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2013.csv')
data_2014 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2014.csv')
data_2015 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2015.csv')
data_2016 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2016.csv')
data_2017 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2017.csv')
data_2018 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2018.csv')
data_2019 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2019.csv')
data_2020 = pandas.read_csv('../../Dataset/Banjir/data-rekapitulasi-kejadian-banjir-tahun-2020.csv')
himpunan_tahun = [data_2013,data_2014,data_2015,data_2016,data_2017,data_2018,data_2019,data_2020]

In [354]:
data_2013

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,35.0,124.0,10 - 400,15.0,2414.0,506164.0,1226487.0,38.0,0.0,0.0,0.0,83554.0,1115.0,0
1,2,15.0,34.0,10 - 175,8.0,207.0,19177.0,46865.0,0.0,0.0,0.0,0.0,740.0,21.0,0
2,3,5.0,9.0,10 - 250,2.0,68.0,9215.0,27020.0,0.0,0.0,0.0,0.0,2406.0,34.0,0
3,4,10.0,16.0,10 - 100,4.0,66.0,6004.0,15060.0,0.0,0.0,0.0,0.0,318.0,7.0,0
4,5,10.0,16.0,0 - 160,3.0,139.0,4740.0,18481.0,0.0,0.0,0.0,0.0,1245.0,42.0,0
5,6,3.0,4.0,0 - 150,7.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0
6,7,6.0,10.0,10 - 180,4.0,56.0,8270.0,22537.0,0.0,0.0,0.0,0.0,443.0,8.0,0
7,8,7.0,12.0,20 - 300,3.0,55.0,11735.0,32427.0,0.0,0.0,0.0,0.0,536.0,12.0,0
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,10,5.0,5.0,20 - 100,3.0,16.0,1969.0,5420.0,0.0,0.0,0.0,0.0,0.0,0.0,0
10,11,9.0,16.0,10 - 100,6.0,87.0,6491.0,18367.0,2.0,0.0,0.0,0.0,86.0,8.0,0
11,12,11.0,17.0,10 - 200,4.0,78.0,4584.0,13814.0,0.0,0.0,0.0,0.0,1585.0,3.0,0

In [355]:
data_2014

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,37.0,125.0,10 - 400,20.0,634.0,70459.0,245950.0,23.0,0.0,0.0,0.0,122417.0,434.0,0.0
1,2,21.0,45.0,10 - 300,20.0,192.0,56489.0,164940.0,0.0,0.0,0.0,0.0,38340.0,129.0,0.0
2,3,8.0,18.0,10 - 200,8.0,89.0,4925.0,15098.0,0.0,0.0,0.0,0.0,3479.0,16.0,0.0
3,4,3.0,3.0,10 - 150,2.0,11.0,1560.0,3553.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,2.0,3.0,10 - 200,4.0,16.0,2535.0,6327.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,1.0,1.0,30 - 200,1.0,7.0,2775.0,9335.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,8.0,12.0,10 - 200,3.0,41.0,4808.0,15299.0,0.0,0.0,0.0,0.0,38.0,2.0,0.0
7,8,3.0,6.0,30 - 150,2.0,21.0,2028.0,4327.0,0.0,0.0,0.0,0.0,600.0,5.0,0.0
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,12.0,18.0,20 - 400,11.0,57.0,13127.0,42637.0,0.0,0.0,0.0,0.0,2634.0,18.0,0.0
11,12,12.0,21.0,10 - 200,5.0,68.0,5604.0,18887.0,0.0,0.0,0.0,0.0,219.0,5.0,0.0

In [356]:
data_2015

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,15,36,10 - 150,2,221,6095,13073,0,0,0,0,3255,59,0
1,2,38,133,10 - 200,7,615,64458,231566,5,0,0,0,41202,337,0
2,3,12,15,10 - 200,4,30,2869,8119,0,0,0,0,822,5,0
3,4,4,6,20 - 100,3,18,2235,7905,0,0,0,0,0,0,0
4,5,1,1,20 - 100,1,7,423,2088,0,0,0,0,0,0,0
5,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,11,7,11,20 - 300,4,36,3858,13195,0,0,0,0,534,8,0
11,12,12,15,10 - 60,4,28,1698,6192,0,0,0,0,0,0,0

In [357]:
data_2016

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,8,13,Oct-80,2,26,1020,3853,0,0,0,0,0,0,0
1,2,25,70,5 -200,2,231,20593,70218,0,0,0,0,1137,45,0
2,3,14,32,5-300,2,93,16145,51234,0,0,0,0,2192,27,0
3,4,18,44,5-360,2,134,7833,27607,0,0,0,0,2945,40,0
4,5,10,14,5-200,1,26,1496,6271,0,0,0,0,0,0,0
5,6,11,24,May-90,2,49,1424,6025,0,0,0,0,2,0,0
6,7,15,26,10-190,2,59,3060,8068,0,0,0,0,183,6,0
7,8,13,26,10 - 120,2,82,11671,31921,2,0,0,0,198,4,0
8,9,16,31,5 - 170,2,72,5041,15331,0,0,0,0,751,9,0
9,10,11,20,10 - 100,2,53,1160,3840,0,0,0,0,0,0,0
10,11,15,29,5 - 150,2,80,2148,8209,0,0,0,0,352,3,0

In [358]:
data_2017

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,4,5,10-70,2,7,n.a,n.a,0,0,0,0,0,0,n.a
1,2,31,67,10-250,5,216,6967,19325,6,0,0,0,5858,45,n.a
2,3,20,40,0-160,3,95,3232,10166,0,0,0,0,1870,27,n.a
3,4,19,33,10-200,1,78,621,2131,0,0,0,0,753,40,n.a
4,5,15,25,5-120,2,48,1056,3420,0,0,0,0,20,0,n.a
5,6,4,5,10-110,1,17,1409,4547,0,0,0,0,0,0,n.a
6,7,6,8,10-80,1,22,251,705,0,0,0,0,0,6,n.a
7,8,5,6,10-80,1,13,n.a,n.a,0,0,0,0,0,4,n.a
8,9,1,1,10-80,1,2,n.a,n.a,0,0,0,0,0,9,n.a
9,10,8,11,10-105,3,25,15,n.a,0,0,0,0,0,0,n.a
10,11,17,37,10-150,2,86,1935,6505,0,0,0,0,564,3,n.a
11,12,19,26,10-70,2,51,131,404,0,0,0,0,35,0,n.a

In [359]:
data_2018

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,5,8,5-40,1 s/d 2,25,0,0,0,0,0,0,0,0,n.a
1,2,24,43,5-300,1 s/d 6,162,5467,19456,1,0,1,0,15558,60,n.a
2,3,6,8,10-100,1,21,303,1000,0,0,0,0,0,0,n.a
3,4,6,8,5-90,1,19,300,988,0,0,0,0,0,0,n.a
4,5,8,17,10-150,1,47,214,716,0,0,0,0,69,2,n.a
5,6,5,8,10-100,1,18,328,1068,0,0,0,0,0,0,n.a
6,7,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
8,9,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
9,10,4,5,10-80,1,13,387,1001,0,0,0,0,0,0,n.a
10,11,11,16,5-100,1,28,1848,7597,0,0,0,0,0,0,n.a
11,12,14,22,3-100,1,38,244,877,0,0,0,0,0,0,n.a

In [360]:
data_2019

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,14,31,10 s.d 70 cm,2 hari,58,135,453,0,0,0,0,0,0,n.a
1,2,15,25,10 s.d 135 cm,1 hari,43,398,1186,0,0,0,0,0,0,n.a
2,3,23,43,10 s.d 100 cm,2 hari,119,315,1010,0,0,0,0,85,2,n.a
3,4,17,34,10 s.d 250 cm,1 hari,94,2915,8851,2,0,0,0,3600,23,n.a
4,5,5,7,10 s.d 100 cm,1 hari,15,150,355,0,0,0,0,0,0,n.a
5,6,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
6,7,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
7,8,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
8,9,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
9,10,5,7,10 s/d 100 cm,1 hari,16,391,1203,0,0,0,0,0,0,n.a
10,11,0,0,0,0,0,0,0,0,0,0,0,0,0,n.a
11,12,11,20,15 s/d 100 cm,1 hari,41,316,1601,0,0,0,0,0,0,n.a

In [361]:
data_2020

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,35,151,10 s.d 350 cm,4 hari,390,22148,83406,19,0,0,0,36445,269,n.a
1,2,42,167,5 s.d 200 cm,1 s.d 2 hari,581,12551,43464,6,0,0,0,13808,119,n.a
2,3,24,46,5 s.d 160 cm,1 s.d 2 hari,104,3057,9687,0,0,0,0,453,14,n.a
3,4,21,50,10 s.d 130 cm,1 s.d 2 hari,106,1059,2966,0,0,0,0,75,2,n.a
4,5,12,23,10 s.d 200 cm,1 s.d 2 hari,47,891,3117,0,0,0,0,213,6,n.a
5,6,9,16,5 s.d 120 cm,1 hari,46,80,320,0,0,0,0,320,7,n.a
6,7,2,2,20 s.d 50 cm,1 hari,4,0,0,0,0,0,0,0,0,n.a
7,8,10,12,10 s.d 80 cm,1 hari,20,0,0,0,0,0,0,0,0,n.a
8,9,16,28,10 s.d 130 cm,1 s.d 2 hari,65,414,1300,0,0,0,0,104,5,n.a
9,10,29,72,10 s.d 180 cm,1 s.d 2 hari,170,1933,6250,0,0,0,0,675,12,n.a
10,11,16,27,10 s.d 60 cm,1 s.d 2 hari,54,0,0,0,0,0,0,0,0,n.a
11,12,7,9,10 s.d 80 cm,1 hari,18,250,827,0,0,0,0,0,0,n.a

In [407]:
def cekkosong(data,kolom,tahun):
    print(tahun)
    print(data.isnull().any())
    print()
    print(data.isnull().sum())
    print("-"*50)
    print()
    return

In [408]:
tahun_data=2013
for tahun in himpunan_tahun :
    cekkosong(tahun,"bulan",tahun_data)
    tahun_data+=1

2013
bulan                              False
kecamatan                           True
kelurahan                           True
rata_rata_ketinggian_air            True
lama_genangan                       True
rw_terdampak                        True
kk_terdampak                        True
jiwa_terdampak                      True
korban_meninggal                    True
korban_hilang                       True
korban_luka_berat                   True
korban_luka_ringan                  True
jumlah_jiwa_pengungsi_tertinggi     True
jumlah_tempat_pengungsian           True
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          1
kelurahan                          1
rata_rata_ketinggian_air           1
lama_genangan                      1
rw_terdampak                       1
kk_terdampak                       1
jiwa_terdampak                     1
korban_meninggal                   1
korban_hilang                      1
korban_luka_berat                  1
korban_luka_ringan                 1
jumlah_jiwa_pengungsi_tertinggi    2
jumlah_tempat_pengungsian          1
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

2014
bulan                              False
kecamatan                           True
kelurahan                           True
rata_rata_ketinggian_air            True
lama_genangan                       True
rw_terdampak                        True
kk_terdampak                        True
jiwa_terdampak                      True
korban_meninggal                    True
korban_hilang                       True
korban_luka_berat                   True
korban_luka_ringan                  True
jumlah_jiwa_pengungsi_tertinggi     True
jumlah_tempat_pengungsian           True
jumlah_nilai_kerugian               True
dtype: bool

bulan                              0
kecamatan                          2
kelurahan                          2
rata_rata_ketinggian_air           2
lama_genangan                      2
rw_terdampak                       2
kk_terdampak                       2
jiwa_terdampak                     2
korban_meninggal                   2
korban_hilang                      2
korban_luka_berat                  2
korban_luka_ringan                 2
jumlah_jiwa_pengungsi_tertinggi    2
jumlah_tempat_pengungsian          2
jumlah_nilai_kerugian              2
dtype: int64
--------------------------------------------------

2015
bulan                              False
kecamatan                          False
kelurahan                          False
rata_rata_ketinggian_air           False
lama_genangan                      False
rw_terdampak                       False
kk_terdampak                       False
jiwa_terdampak                     False
korban_meninggal                   False
korban_hilang                      False
korban_luka_berat                  False
korban_luka_ringan                 False
jumlah_jiwa_pengungsi_tertinggi    False
jumlah_tempat_pengungsian          False
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          0
kelurahan                          0
rata_rata_ketinggian_air           0
lama_genangan                      0
rw_terdampak                       0
kk_terdampak                       0
jiwa_terdampak                     0
korban_meninggal                   0
korban_hilang                      0
korban_luka_berat                  0
korban_luka_ringan                 0
jumlah_jiwa_pengungsi_tertinggi    0
jumlah_tempat_pengungsian          0
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

2016
bulan                              False
kecamatan                          False
kelurahan                          False
rata_rata_ketinggian_air           False
lama_genangan                      False
rw_terdampak                       False
kk_terdampak                       False
jiwa_terdampak                     False
korban_meninggal                   False
korban_hilang                      False
korban_luka_berat                  False
korban_luka_ringan                 False
jumlah_jiwa_pengungsi_tertinggi    False
jumlah_tempat_pengungsian          False
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          0
kelurahan                          0
rata_rata_ketinggian_air           0
lama_genangan                      0
rw_terdampak                       0
kk_terdampak                       0
jiwa_terdampak                     0
korban_meninggal                   0
korban_hilang                      0
korban_luka_berat                  0
korban_luka_ringan                 0
jumlah_jiwa_pengungsi_tertinggi    0
jumlah_tempat_pengungsian          0
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

2017
bulan                              False
kecamatan                          False
kelurahan                          False
rata_rata_ketinggian_air           False
lama_genangan                      False
rw_terdampak                       False
kk_terdampak                       False
jiwa_terdampak                     False
korban_meninggal                   False
korban_hilang                      False
korban_luka_berat                  False
korban_luka_ringan                 False
jumlah_jiwa_pengungsi_tertinggi    False
jumlah_tempat_pengungsian          False
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          0
kelurahan                          0
rata_rata_ketinggian_air           0
lama_genangan                      0
rw_terdampak                       0
kk_terdampak                       0
jiwa_terdampak                     0
korban_meninggal                   0
korban_hilang                      0
korban_luka_berat                  0
korban_luka_ringan                 0
jumlah_jiwa_pengungsi_tertinggi    0
jumlah_tempat_pengungsian          0
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

2018
bulan                              False
kecamatan                          False
kelurahan                          False
rata_rata_ketinggian_air           False
lama_genangan                      False
rw_terdampak                       False
kk_terdampak                       False
jiwa_terdampak                     False
korban_meninggal                   False
korban_hilang                      False
korban_luka_berat                  False
korban_luka_ringan                 False
jumlah_jiwa_pengungsi_tertinggi    False
jumlah_tempat_pengungsian          False
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          0
kelurahan                          0
rata_rata_ketinggian_air           0
lama_genangan                      0
rw_terdampak                       0
kk_terdampak                       0
jiwa_terdampak                     0
korban_meninggal                   0
korban_hilang                      0
korban_luka_berat                  0
korban_luka_ringan                 0
jumlah_jiwa_pengungsi_tertinggi    0
jumlah_tempat_pengungsian          0
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

2019
bulan                              False
kecamatan                          False
kelurahan                          False
rata_rata_ketinggian_air           False
lama_genangan                      False
rw_terdampak                       False
kk_terdampak                       False
jiwa_terdampak                     False
korban_meninggal                   False
korban_hilang                      False
korban_luka_berat                  False
korban_luka_ringan                 False
jumlah_jiwa_pengungsi_tertinggi    False
jumlah_tempat_pengungsian          False
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          0
kelurahan                          0
rata_rata_ketinggian_air           0
lama_genangan                      0
rw_terdampak                       0
kk_terdampak                       0
jiwa_terdampak                     0
korban_meninggal                   0
korban_hilang                      0
korban_luka_berat                  0
korban_luka_ringan                 0
jumlah_jiwa_pengungsi_tertinggi    0
jumlah_tempat_pengungsian          0
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

2020
bulan                              False
kecamatan                          False
kelurahan                          False
rata_rata_ketinggian_air           False
lama_genangan                      False
rw_terdampak                       False
kk_terdampak                       False
jiwa_terdampak                     False
korban_meninggal                   False
korban_hilang                      False
korban_luka_berat                  False
korban_luka_ringan                 False
jumlah_jiwa_pengungsi_tertinggi    False
jumlah_tempat_pengungsian          False
jumlah_nilai_kerugian              False
dtype: bool

bulan                              0
kecamatan                          0
kelurahan                          0
rata_rata_ketinggian_air           0
lama_genangan                      0
rw_terdampak                       0
kk_terdampak                       0
jiwa_terdampak                     0
korban_meninggal                   0
korban_hilang                      0
korban_luka_berat                  0
korban_luka_ringan                 0
jumlah_jiwa_pengungsi_tertinggi    0
jumlah_tempat_pengungsian          0
jumlah_nilai_kerugian              0
dtype: int64
--------------------------------------------------

In [409]:
def misahin_rata_rata_ketinggian_air(data,kolom):
    himpunan_nilai_baru=[]
    for i in data[kolom]:
        if isinstance(i, str) == True:
            replacements = {
                's.d': '-',
                'n.a':'0',
                's/d': '-',
                'cm': '',
                'May': '0',
                'Oct': '0',
                ' ':''
                }
            pola = re.compile('|'.join(re.escape(key) for key in replacements.keys()))
            output = pola.sub(lambda match: replacements[match.group(0)], i)
        himpunan_nilai_baru.append(output)
    data[kolom]=himpunan_nilai_baru
    data[['rata_rata_ketinggian_air_min', 'rata_rata_ketinggian_air_max']] = data[kolom].str.split('-', expand=True)
    return data

In [410]:
misahin_rata_rata_ketinggian_air(data_2013,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2014,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2015,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2016,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2017,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2018,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2019,"rata_rata_ketinggian_air")
misahin_rata_rata_ketinggian_air(data_2020,"rata_rata_ketinggian_air")

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian,rata_rata_ketinggian_air_min,rata_rata_ketinggian_air_max
0,1,35,151,10-350,4 hari,390,22148,83406,19,0,0,0,36445,269,n.a,10,350
1,2,42,167,5-200,1 s.d 2 hari,581,12551,43464,6,0,0,0,13808,119,n.a,5,200
2,3,24,46,5-160,1 s.d 2 hari,104,3057,9687,0,0,0,0,453,14,n.a,5,160
3,4,21,50,10-130,1 s.d 2 hari,106,1059,2966,0,0,0,0,75,2,n.a,10,130
4,5,12,23,10-200,1 s.d 2 hari,47,891,3117,0,0,0,0,213,6,n.a,10,200
5,6,9,16,5-120,1 hari,46,80,320,0,0,0,0,320,7,n.a,5,120
6,7,2,2,20-50,1 hari,4,0,0,0,0,0,0,0,0,n.a,20,50
7,8,10,12,10-80,1 hari,20,0,0,0,0,0,0,0,0,n.a,10,80
8,9,16,28,10-130,1 s.d 2 hari,65,414,1300,0,0,0,0,104,5,n.a,10,130
9,10,29,72,10-180,1 s.d 2 hari,170,1933,6250,0,0,0,0,675,12,n.a,10,180
10,11,16,27,10-60,1 s.d 2 hari,54,0,0,0,0,0,0,0,0,n.a,10,60
11,12,7,9,10-80,1 hari,18,250,827,0,0,0,0,0,0,n.a,10,80

In [411]:
data_2013 = data_2013.fillna(0)
data_2014 = data_2013.fillna(0)
data_2015 = data_2013.fillna(0)
data_2016 = data_2013.fillna(0)
data_2017 = data_2013.fillna(0)
data_2018 = data_2013.fillna(0)
data_2019 = data_2013.fillna(0)
data_2020 = data_2013.fillna(0)

data_2013["rata_rata_ketinggian_air_min"] = data_2013["rata_rata_ketinggian_air_min"].astype(int)
data_2013["rata_rata_ketinggian_air_max"] = data_2013["rata_rata_ketinggian_air_max"].astype(int)
data_2014["rata_rata_ketinggian_air_min"] = data_2014["rata_rata_ketinggian_air_min"].astype(int)
data_2014["rata_rata_ketinggian_air_max"] = data_2014["rata_rata_ketinggian_air_max"].astype(int)
data_2015["rata_rata_ketinggian_air_min"] = data_2015["rata_rata_ketinggian_air_min"].astype(int)
data_2015["rata_rata_ketinggian_air_max"] = data_2015["rata_rata_ketinggian_air_max"].astype(int)
data_2016["rata_rata_ketinggian_air_min"] = data_2016["rata_rata_ketinggian_air_min"].astype(int)
data_2016["rata_rata_ketinggian_air_max"] = data_2016["rata_rata_ketinggian_air_max"].astype(int)
data_2017["rata_rata_ketinggian_air_min"] = data_2017["rata_rata_ketinggian_air_min"].astype(int)
data_2017["rata_rata_ketinggian_air_max"] = data_2017["rata_rata_ketinggian_air_max"].astype(int)
data_2018["rata_rata_ketinggian_air_min"] = data_2018["rata_rata_ketinggian_air_min"].astype(int)
data_2018["rata_rata_ketinggian_air_max"] = data_2018["rata_rata_ketinggian_air_max"].astype(int)
data_2019["rata_rata_ketinggian_air_min"] = data_2019["rata_rata_ketinggian_air_min"].astype(int)
data_2019["rata_rata_ketinggian_air_max"] = data_2019["rata_rata_ketinggian_air_max"].astype(int)
data_2020["rata_rata_ketinggian_air_min"] = data_2020["rata_rata_ketinggian_air_min"].astype(int)
data_2020["rata_rata_ketinggian_air_max"] = data_2020["rata_rata_ketinggian_air_max"].astype(int)

In [412]:
data_2013 = data_2013.drop(["rata_rata_ketinggian_air"],axis=1)
data_2014 = data_2014.drop(["rata_rata_ketinggian_air"],axis=1)
data_2015 = data_2015.drop(["rata_rata_ketinggian_air"],axis=1)
data_2016 = data_2016.drop(["rata_rata_ketinggian_air"],axis=1)
data_2017 = data_2017.drop(["rata_rata_ketinggian_air"],axis=1)
data_2018 = data_2018.drop(["rata_rata_ketinggian_air"],axis=1)
data_2019 = data_2019.drop(["rata_rata_ketinggian_air"],axis=1)
data_2020 = data_2020.drop(["rata_rata_ketinggian_air"],axis=1)

In [398]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   bulan                            12 non-null     int64
 1   kecamatan                        12 non-null     float64
 2   kelurahan                        12 non-null     float64
 3   lama_genangan                    12 non-null     float64
 4   rw_terdampak                     12 non-null     float64
 5   kk_terdampak                     12 non-null     float64
 6   jiwa_terdampak                   12 non-null     float64
 7   korban_meninggal                 12 non-null     float64
 8   korban_hilang                    12 non-null     float64
 9   korban_luka_berat                12 non-null     float64
 10  korban_luka_ringan               12 non-null     float64
 11  jumlah_jiwa_pengungsi_tertinggi  12 non-null     float64
 12  jumlah_tempat_pengungsian        12 non-null     float64
 13  jumlah_nilai_kerugian            12 non-null     int64
 14  rata_rata_ketinggian_air_min     12 non-null     int32
 15  rata_rata_ketinggian_air_max     12 non-null     int32
dtypes: float64(12), int32(2), int64(2)
memory usage: 1.5 KB

In [413]:
def gantibulandantahun(data,kolom,tahun):
    himpunan_bt=[]
    for bulan in data[kolom]:
        jadi_string = str(bulan)
        bulan_tahun=jadi_string+str(tahun)
        himpunan_bt.append(bulan_tahun)
    data[kolom] = himpunan_bt
    data[kolom] = pandas.to_datetime(data[kolom],format='%m%Y', errors='coerce').dt.to_period('m')
    return

In [400]:
tahun_data=2013
for tahun in himpunan_tahun :
    gantibulandantahun(tahun,"bulan",tahun_data)
    tahun_data+=1
rekap_banjir_2013_2020 = pandas.concat(himpunan_tahun, ignore_index=True)

In [414]:
gantibulandantahun(data_2013,"bulan",2013)
gantibulandantahun(data_2014,"bulan",2014)
gantibulandantahun(data_2015,"bulan",2015)
gantibulandantahun(data_2016,"bulan",2016)
gantibulandantahun(data_2017,"bulan",2017)
gantibulandantahun(data_2018,"bulan",2018)
gantibulandantahun(data_2019,"bulan",2019)
gantibulandantahun(data_2020,"bulan",2020)

In [415]:
rekap_banjir_2013_2020 = pandas.concat([data_2013,data_2015,data_2016,data_2017,data_2018,data_2019,data_2020], ignore_index=True)

In [416]:
rekap_banjir_2013_2020

,bulan,kecamatan,kelurahan,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian,rata_rata_ketinggian_air_min,rata_rata_ketinggian_air_max
0,2013-01,35.0,124.0,15.0,2414.0,506164.0,1226487.0,38.0,0.0,0.0,0.0,83554.0,1115.0,0,10,400
1,2013-02,15.0,34.0,8.0,207.0,19177.0,46865.0,0.0,0.0,0.0,0.0,740.0,21.0,0,10,175
2,2013-03,5.0,9.0,2.0,68.0,9215.0,27020.0,0.0,0.0,0.0,0.0,2406.0,34.0,0,10,250
3,2013-04,10.0,16.0,4.0,66.0,6004.0,15060.0,0.0,0.0,0.0,0.0,318.0,7.0,0,10,100
4,2013-05,10.0,16.0,3.0,139.0,4740.0,18481.0,0.0,0.0,0.0,0.0,1245.0,42.0,0,0,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,2020-08,7.0,12.0,3.0,55.0,11735.0,32427.0,0.0,0.0,0.0,0.0,536.0,12.0,0,20,300
80,2020-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,20,300
81,2020-10,5.0,5.0,3.0,16.0,1969.0,5420.0,0.0,0.0,0.0,0.0,0.0,0.0,0,20,100
82,2020-11,9.0,16.0,6.0,87.0,6491.0,18367.0,2.0,0.0,0.0,0.0,86.0,8.0,0,10,100
83,2020-12,11.0,17.0,4.0,78.0,4584.0,13814.0,0.0,0.0,0.0,0.0,1585.0,3.0,0,10,200

In [417]:
rekap_banjir_2013_2020.to_csv('rekap_banjir_2013_2020.csv', index = False)